@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'IconicFill';
    src: url(fontes/iconic_fill.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h2.icon-next{
    color: blue;
}

.icon-next::after {
    content: '\2192';
    font-family: 'IconicFill';
    margin-left: 10px;
}